body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cambiado a gris oscuro */
    color: #fff; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px; 
}

header {
    text-align: center;
    padding: 1em;
    color: #fff; /* Color del texto del encabezado */
}

section {
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p {
    color: #666; /* Cambiado a gris medio */
}

a {
    display: block;
    margin: 10px 0;
    padding: 15px 20px;
    text-decoration: none;
    color: #333; /* Color del texto de los enlaces */
    background-color: #ddd; /* Color de fondo de los enlaces (gris claro) */
    border: 2px solid #333; /* Color del borde de los enlaces (gris oscuro) */
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

a:hover {
    background-color: #333; /* Cambiado al mismo gris oscuro del fondo */
    color: #fff;
}

footer {
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px; 
    }

    section {
        padding: 15px;
    }

    a {
        font-size: 16px;
    }
}


